{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint"],
  "env": {
    "es6": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/indent": ["warn", 2],
    "@typescript-eslint/adjacent-overload-signatures": "warn",
    "@typescript-eslint/array-type": ["warn", "array"],
    "@typescript-eslint/await-thenable": "error",
    "@typescript-eslint/camelcase": "warn",
    "@typescript-eslint/class-name-casing": "warn",
    "@typescript-eslint/no-parameter-properties": "off",
    "@typescript-eslint/explicit-member-accessibility": "warn",
    "@typescript-eslint/func-call-spacing": ["warn", "never"],
    "@typescript-eslint/generic-type-naming": [
      "warn",
      "^(T|T[A-Z][A-Za-z0-9$_]*)$"
    ],
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": { "delimiter": "semi", "requireLast": true },
        "singleline": { "delimiter": "semi", "requireLast": true }
      }
    ],
    "@typescript-eslint/member-naming": ["warn", { "private": "^_" }],
    "@typescript-eslint/no-empty-interface": [
      "error",
      { "allowSingleExtends": false }
    ],
    "@typescript-eslint/no-extraneous-class": "error",
    "@typescript-eslint/no-for-in-array": "warn",
    "@typescript-eslint/no-inferrable-types": "warn",
    "@typescript-eslint/no-magic-numbers": "warn",
    "@typescript-eslint/no-misused-new": "error",
    "@typescript-eslint/no-misused-promises": [
      "warn",
      { "checksVoidReturn": false, "checksConditionals": true }
    ],
    "@typescript-eslint/no-require-imports": "warn",
    "@typescript-eslint/no-unnecessary-type-assertion": "error",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-use-before-define": "error",
    "@typescript-eslint/no-useless-constructor": "error",
    "@typescript-eslint/prefer-for-of": "warn",
    "@typescript-eslint/prefer-function-type": "error",
    "@typescript-eslint/prefer-includes": "warn",
    "@typescript-eslint/prefer-string-starts-ends-with": "warn",
    "@typescript-eslint/require-await": "warn",
    "@typescript-eslint/semi": [
      "error",
      "always",
      {
        "omitLastInOneLineBlock": false
      }
    ],
    "@typescript-eslint/triple-slash-reference": [
      "error",
      { "path": "never", "types": "never", "lib": "never" }
    ],
    "getter-return": "error",
    "no-await-in-loop": "warn",
    "no-debugger": "error",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-dupe-class-members": "error",
    "no-duplicate-case": "error",
    "no-duplicate-imports": "error",
    "no-ex-assign": "warn",
    "no-extra-boolean-cast": "warn",
    "no-extra-parens": "warn",
    "no-extra-semi": "warn",
    "no-invalid-regexp": "error",
    "no-irregular-whitespace": "warn",
    "no-sparse-arrays": "warn",
    "no-template-curly-in-string": "warn",
    "no-unexpected-multiline": "warn",
    "no-unreachable": "error",
    "no-unsafe-finally": "error",
    "no-unsafe-negation": "warn",
    "use-isnan": "error",
    "valid-typeof": "error",
    "array-callback-return": "warn",
    "class-methods-use-this": "warn",
    "complexity": ["warn", 20],
    "block-scoped-var": "error",
    "consistent-return": "warn",
    "curly": "warn",
    "dot-location": ["warn", "property"],
    "dot-notation": "warn",
    "eqeqeq": "warn",
    "no-alert": "warn",
    "no-caller": "error",
    "no-case-declarations": "warn",
    "no-empty-pattern": "warn",
    "no-eq-null": "warn",
    "no-eval": "warn",
    "no-extend-native": "warn",
    "no-extra-bind": "error",
    "no-extra-label": "error",
    "no-fallthrough": "warn",
    "no-floating-decimal": "error",
    "no-global-assign": "error",
    "no-implied-eval": "error",
    "no-invalid-this": "error",
    "no-iterator": "error",
    "no-labels": "error",
    "no-lone-blocks": "warn",
    "no-loop-func": "warn",
    "no-magic-numbers": "warn",
    "no-multi-spaces": "warn",
    "no-new-func": "warn",
    "no-new-wrappers": "warn",
    "no-param-reassign": "warn",
    "no-proto": "error",
    "no-redeclare": "error",
    "no-return-assign": "warn",
    "no-script-url": "warn",
    "no-self-assign": "error",
    "no-self-compare": "error",
    "no-sequences": "warn",
    "no-throw-literal": "error",
    "no-unmodified-loop-condition": "error",
    "no-unused-expressions": "error",
    "no-unused-labels": "error",
    "no-unused-vars": "error",
    "no-useless-call": "error",
    "no-useless-concat": "warn",
    "no-useless-escape": "warn",
    "no-useless-return": "error",
    "no-void": "error",
    "no-with": "error",
    "prefer-promise-reject-errors": "error",
    "require-await": "warn",
    "wrap-iife": "warn",
    "yoda": ["warn", "always"],
    "no-delete-var": "warn",
    "no-label-var": "error",
    "no-shadow": "warn",
    "no-undef": "error",
    "no-undef-init": "warn",
    "no-use-before-define": "error",
    "block-spacing": "warn",
    "brace-style": ["warn", "1tbs", { "allowSingleLine": true }],
    "camelcase": "warn",
    "capitalized-comments": ["warn", "always"],
    "consistent-this": ["warn", "that"],
    "eol-last": "warn",
    "func-names": ["warn", "always"],
    "func-style": ["warn", "declaration", { "allowArrowFunctions": true }],
    "indent": ["warn", 2],
    "quote-props": ["warn", "as-needed"],
    "quotes": [
      "warn",
      "single",
      { "avoidEscape": true, "allowTemplateLiterals": true }
    ],
    "semi": [
      "error",
      "always",
      {
        "omitLastInOneLineBlock": false
      }
    ],
    "no-class-assign": "off",
    "no-useless-computed-key": "error",
    "no-useless-constructor": "off",
    "no-useless-rename": "error",
    "no-var": "warn",
    "object-shorthand": ["warn", "always", { "avoidQuotes": true }],
    "prefer-arrow-callback": ["warn", { "allowNamedFunctions": true }],
    "prefer-destructuring": [
      "warn",
      { "array": true, "object": true },
      { "enforceForRenamedProperties": true }
    ],
    "prefer-numeric-literals": "warn",
    "prefer-rest-params": "error",
    "prefer-spread": "warn",
    "prefer-template": "warn",
    "require-yield": "warn",
    "rest-spread-spacing": ["warn", "never"],
    "sort-imports": "warn",
    "symbol-description": "warn",
    "template-curly-spacing": ["warn", "never"]
  }
}
