{
  "parserOptions": {
    "ecmaVersion": 5,
    "sourceType": "script"
  },
  "env": {
    "es6": false,
    "browser": true
  },
  "extends": ["eslint:recommended"],
  "rules": {
    "getter-return": "error",
    "no-await-in-loop": "warn",
    "no-debugger": "error",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-dupe-class-members": "error",
    "no-duplicate-case": "error",
    "no-duplicate-imports": "error",
    "no-ex-assign": "warn",
    "no-extra-boolean-cast": "warn",
    "no-extra-parens": ["warn", "all", {
      "conditionalAssign": false,
      "nestedBinaryExpressions": false
    }],
    "no-extra-semi": "warn",
    "no-invalid-regexp": "error",
    "no-irregular-whitespace": "warn",
    "no-sparse-arrays": "warn",
    "no-template-curly-in-string": "warn",
    "no-unexpected-multiline": "warn",
    "no-unreachable": "error",
    "no-unsafe-finally": "error",
    "no-unsafe-negation": "warn",
    "use-isnan": "error",
    "valid-typeof": "error",
    "array-callback-return": "warn",
    "class-methods-use-this": "warn",
    "complexity": "off",
    "block-scoped-var": "off",
    "consistent-return": "warn",
    "curly": "warn",
    "dot-location": ["warn", "property"],
    "dot-notation": "warn",
    "eqeqeq": "warn",
    "no-alert": "warn",
    "no-caller": "error",
    "no-case-declarations": "warn",
    "no-empty-pattern": "warn",
    "no-eq-null": "warn",
    "no-eval": "warn",
    "no-extend-native": "warn",
    "no-extra-bind": "error",
    "no-extra-label": "error",
    "no-fallthrough": "warn",
    "no-floating-decimal": "error",
    "no-global-assign": "error",
    "no-implied-eval": "error",
    "no-invalid-this": "error",
    "no-iterator": "error",
    "no-labels": "error",
    "no-lone-blocks": "warn",
    "no-loop-func": "warn",
    "no-magic-numbers": "off",
    "no-multi-spaces": "warn",
    "no-new-func": "warn",
    "no-new-wrappers": "warn",
    "no-param-reassign": "warn",
    "no-proto": "error",
    "no-redeclare": "off",
    "no-return-assign": "warn",
    "no-script-url": "warn",
    "no-self-assign": "error",
    "no-self-compare": "error",
    "no-sequences": "warn",
    "no-throw-literal": "error",
    "no-unmodified-loop-condition": "error",
    "no-unused-expressions": "error",
    "no-unused-labels": "error",
    "no-unused-vars": "error",
    "no-useless-call": "error",
    "no-useless-concat": "warn",
    "no-useless-escape": "warn",
    "no-useless-return": "error",
    "no-void": "error",
    "no-with": "error",
    "prefer-promise-reject-errors": "error",
    "require-await": "warn",
    "wrap-iife": ["warn", "inside"],
    "yoda": "off",
    "no-delete-var": "warn",
    "no-label-var": "error",
    "no-shadow": "off",
    "no-undef": "error",
    "no-undef-init": "warn",
    "no-use-before-define": "error",
    "block-spacing": "warn",
    "brace-style": ["warn", "1tbs", { "allowSingleLine": true }],
    "camelcase": "warn",
    "capitalized-comments": ["warn", "always"],
    "consistent-this": ["warn", "that"],
    "eol-last": "warn",
    "func-names": "off",
    "func-style": "off",
    "indent": ["warn", 2, {
      "SwitchCase": 1
    }],
    "quote-props": ["warn", "as-needed"],
    "quotes": [
      "warn",
      "single",
      { "avoidEscape": true, "allowTemplateLiterals": true }
    ],
    "semi": [
      "error",
      "always",
      {
        "omitLastInOneLineBlock": false
      }
    ],
    "no-class-assign": "off",
    "no-useless-computed-key": "error",
    "no-useless-constructor": "off",
    "no-useless-rename": "error",
    "no-var": "off",
    "object-shorthand": "off",
    "prefer-arrow-callback": "off",
    "prefer-destructuring": "off",
    "prefer-numeric-literals": "warn",
    "prefer-rest-params": "error",
    "prefer-spread": "warn",
    "prefer-template": "off",
    "require-yield": "warn",
    "rest-spread-spacing": ["warn", "never"],
    "sort-imports": "warn",
    "symbol-description": "warn",
    "template-curly-spacing": ["warn", "never"]
  }
}
