<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Painter</title>

    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <canvas id="surface"></canvas>

    <!-- Utilities -->
    <script src="floodFill2D.js"></script>
    <!-- End Utilities -->

    <!-- User Interface -->
    <script src="widgets.js"></script>
    <script src="toolbar.js"></script>
    <!-- End User Interface -->

    <!-- Canvas Management -->
    <script src="resizer.js"></script>
    <!-- End Canvas Management -->

    <!-- Paint -->
    <script src="colors.js"></script>
    <script src="thickness.js"></script>
    <script src="shapes.js"></script>
    <script src="painter.js"></script>
    <script src="user-painter.js"></script>
    <!-- End Paint -->
  </body>
</html>
